<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Random Title</title>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
   <style>
     .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('/images/logo_oeste.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

     body { 
       padding: 50px; 
       font-family: 'Arial', sans-serif;
     }

     h1, h2, h3 {
       font-family: 'Cinzel', serif;
     }

     .ui.inverted.menu .item:hover {
       background-color: red !important;
       color: white !important;
     }
   </style>
</head>

<body class="container">
  <div class="background"></div>

  <header>
     <div class="ui inverted menu">
         <a class="item" href="/">Home</a>
         <a class="item" href="/personagens">Personagens</a>
         <a class="item" href="/historia">História</a>
         <a class="item" href="/fichas">Fichas</a>
         <a class="item" href="/login">Login</a>
     </div>
  </header>

</body>
</html>