<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>História - Sombras e Caos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/historia.css" rel="stylesheet">
</head>

<body>
    <%- include('partials/navbar') %>

        <div class="background">
            <div class="content-box text-white text-center p-5">
                <h1 class="mb-4">Contexto Geral e História do Mundo de Sombras e Caos</h1>
                <p class="fs-5">
                    No ano de 2022, devido ao Aquecimento Global, um vírus que concedia poderes sobre-humanos para as
                    pessoas foi descongelado do Polo Norte e foi liberado no planeta, em pouco tempo a maior parte da
                    população já possuia algum tipo de poder e ocorreu um aumento número de pessoas que usavam seus
                    poderes para o mal, e no dia 04/12/2022.
                </p>
                <footer>
                    <%- include('partials/footer') %>
                </footer>
            </div>
        </div>
</body>

</html>