<%- include('./partials/header') %>
<html>
  <body>
    <%- include('partials/background') %>
    <main>
      <div class="ui segment">
        <h1>Seja Bem-Vindo(a) ao mundo de Sombras e Caos, um rpg autoral do grupo Kasas</h1>
        <h2>Aqui você tem algumas dicas de como montar seu personagem:</h2>
        <h3>Primeiro você define o nome real do personagem, depois você define o nome de herói dele que pode ou não ter ligação com alguma característica do seu personagem</h3>
        <p>Exemplo: Darkblaze(Tem uma pele totalmente preta e uma cabeça de fogo devido a experimentos)</p>
        <p>Exemplo 2: King(O nome real dele é literalmente King)</p>
        <h3>Agora é hora de escolher o poder do seu personagem(Por favor, tenha pena do mestre da sua mesa)</h3>
        <h4>Atenção: Seu personagem pode ou não ter um poder, a escolha é inteiramente do jogador</h4>
        <p>Exemplo: Olivier: Tem o poder de absorver vida com uma mão e curar usando a vida armazenada</p>
        <p>Exemplo 2: Abel: Não tem poder, mas é muito bom com armas de fogo </p>
        <h3>Depois você escolhe a espécie do seu personagem(Não impacta os status, apenas o roleplay) </h3>
        <p>Exemplo: Ark, uma alien que parece um gato</p>
        <p>Exemplo 2: Sett, um semideus egipcio</p>
        <p>Exemplo 3: Sombra, um humano</p>
        <h3>Após todas essas etapas é hora de distribuir os pontos, ao total são 32 pontos para distribuir em 5 status</h3>
        <p>Físico: Define sua vida(Físico x 3) e a força física do seu personagem</p>
        <p>Mental: Define a capacidade do seu personagem de resistir a ataques mentais e habilidades não físicas (Dreno de vida, ondas psíquicas, etc)</p>
        <p>Elemento: Aumenta o dano causado por elementos, sejam eles de equipamentos ou gerados pela habilidade do seu personagem</p>
        <p>Carisma: A capacidade do seu personagem de convencer os outros, pode afetar habilidades que necessitem do diálogo(Inverdade, Moral Suprema, etc)</p>
        <p>Agilidade: A velocidade e a destreza do seu personagem, afeta o dano de ataques que se baseiam em velocidade</p>
        <p>Poder: O quanto o seu personagem domina o próprio poder(Se seu personagem não tiver poder o valor é fixo em 0 até ele adquirir um poder), o valor é fixo em 5, só pode receber um ponto caso o seu personagem treine o seu poder, ou seja, não é permitido distribuir pontos para ele</p>
      </div>
    </main>
    <footer>
      <%- include('./partials/footer') %>
    </footer>
  </body>
</html>
