<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Personagens - Sombras e Caos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/personagens.css" rel="stylesheet">
</head>
<body>

<%- include('partials/navbar') %>

<div class="background">
    <div class="container py-5 text-white">
        <h1 class="mb-4 text-center">Personagens</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">
                <a href="/personagens/darkblaze" class="personagem-link">Darkblaze</a>
            </li>
            <li class="list-group-item bg-transparent">
                <a href="/personagens/king" class="personagem-link">King</a>
            </li>
            <li class="list-group-item bg-transparent">
                <a href="/personagens/olivier" class="personagem-link">Olivier</a>
            </li>
            <li class="list-group-item bg-transparent">
                <a href="/personagens/abel" class="personagem-link">Abel</a>
            </li>
            <li class="list-group-item bg-transparent">
                <a href="/personagens/ark" class="personagem-link">Ark</a>
            </li>
            <li class="list-group-item bg-transparent">
                <a href="/personagens/sett" class="personagem-link">Sett</a>
            </li>
            <li class="list-group-item bg-transparent">
                <a href="/personagens/sombra" class="personagem-link">Sombra</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
