body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("../images/logo_oeste.svg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  overflow-y: auto;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-family: Cinzel, serif;
}
p {
  color: #fff;
  font-family: Arial, sans-serif;
}
