<<<<<<< HEAD
<div class="ui inverted footer">
   <div class="ui container">
     Topcoder 2021. All Rights Reserved
   </div>
=======
<div class="ui inverted footer">
   <div class="ui container">
     Topcoder 2021. All Rights Reserved
   </div>
>>>>>>> 21f072c (Testando commit via VS Code em 03/07/2025)
</div>